.vscode
vendor
servers/gateserver/gateserver.exe
servers/gateserver/gateserver
servers/gateserver/log/
software/infra1.etcd
software/infra2.etcd
software/infra3.etcd
clients/mockclient/log/
__debug_bin.exe
servers/log/
servers/gateserver/src/gateserver.exe
