go 1.20

use (
	./utility
	./framework
	./common
	./clients/mockclient
	./servers/gate
	./servers/login
	./servers/player
	./servers/mysqlproxy
	./servers/redisproxy	
)

replace utility v0.0.0 => ./utility/
replace framework v0.0.0 => ./framework/
replace common v0.0.0 => ./common/
