{
	"folders": [
		{
			"path": "utility"
		},
		{
			"path": "framework"
		},
		{
			"path": "common"
		},
		{
			"name": "mockclient",
			"path": "clients\\mockclient"
		},
		{
			"name": "gate",
			"path": "servers\\gate"
		},
		{
			"name": "login",
			"path": "servers\\login"
		},
		{
			"name": "player",
			"path": "servers\\player"
		},
		{
			"name": "mysqlproxy",
			"path": "servers\\mysqlproxy"
		},
		{
			"name": "redisproxy",
			"path": "servers\\redisproxy"
		},

	],
	"launch": {
		"version": "0.2.0",
		"configurations": [
			{
				"name": "Attach Local",
				"type": "go",
				"request": "attach",
				"mode": "local",
				"processId": 0,
			},
			{
				"name": "Attach Remote",
				"type": "go",
				"request": "attach",
				"mode": "remote",
				"remotePath": "${workspaceRoot:xxx}",
				"port": 2345,
				"host": "127.0.0.1"
			},
			{
				//reference : https://github.com/golang/vscode-go/wiki/debugging#remote-debugging
				"name": "Launch Remote",
				"type": "go",
				"request": "launch",
				"mode": "exec",
				"port": 2345,
				"host": "127.0.0.1",
				"program":"${fileDirname}",
				"substitutePath": [
						{ "from": "${workspaceRoot:xxx}", "to": "/path/to/remote/workspace" },
				],
				"showLog": true,
			},
			{
				"name": "LaunchMockClient",
				"type": "go",
				"request": "launch",
				"mode": "auto",
				"program": "${workspaceRoot:mockclient}\\main.go",
				"output": "../../../bin/__debug_bin_mockclient",
				"cwd": "../../../bin",
				"presentation": {
					"hidden": false,
					"group": "",
					"order": 1
				}
			},
			{
				"name": "LaunchLogin",
				"type": "go",
				"request": "launch",
				"mode": "auto",
				"program": "${workspaceRoot:login}\\main.go",
				"output": "../../../bin/__debug_bin_login",
				"cwd": "../../../bin",
				"presentation": {
					"hidden": false,
					"group": "",
					"order": 2
				}
			},
			{
				"name": "LaunchGate",
				"type": "go",
				"request": "launch",
				"mode": "auto",
				"program": "${workspaceRoot:gate}\\main.go",
				"output": "../../../bin/__debug_bin_gate",
				"cwd": "../../../bin",
				"presentation": {
					"hidden": false,
					"group": "",
					"order": 3
				}
			},
			{
				"name": "LaunchPlayer",
				"type": "go",
				"request": "launch",
				"mode": "auto",
				"program": "${workspaceRoot:player}\\main.go",
				"output": "../../../bin/__debug_bin_player",
				"cwd": "../../../bin",
				"presentation": {
					"hidden": false,
					"group": "",
					"order": 3
				}
			},
			{
				"name": "LaunchMysqlProxy",
				"type": "go",
				"request": "launch",
				"mode": "auto",
				"program": "${workspaceRoot:mysqlproxy}\\main.go",
				"output": "../../../bin/__debug_bin_mysqlproxy",
				"cwd": "../../../bin",
				"presentation": {
					"hidden": false,
					"group": "",
					"order": 4
				}
			},
			{
				"name": "LaunchRedisProxy",
				"type": "go",
				"request": "launch",
				"mode": "auto",
				"program": "${workspaceRoot:redisproxy}\\main.go",
				"output": "../../../bin/__debug_bin_redisproxy",
				"cwd": "../../../bin",
				"presentation": {
					"hidden": false,
					"group": "",
					"order": 5
				}
			}
		],
		"compounds": [
			{
					"name": "LaunchAll",
					"configurations": [
						"LaunchLogin", 
						"LaunchGate", 
						"LaunchPlayer", 
						"LaunchMysqlProxy",
						"LaunchRedisProxy",
						"LaunchMockClient"
					],
					"stopAll": false,
					"presentation": {
							"hidden": false,
							"group": "",
							"order": 1
					}					
			}
	]
	}
}